<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
    
<head>
	<title>Pesquisa de alunos</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css"/>
</head>

<section layout:fragment="conteudo">
	<div layout:include="MensagemGeral"></div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-titulo-panel">Pesquisa de Alunos</h1>
	   			<a class="btn btn-link aw-link-panel" href="/alunos/novo">Novo aluno</a>
	   		</div>
	   	</div>

	   	<div class="panel-body">
	   		<form method="GET" class="form-horizontal" action="/alunos" th:object="${filtro}">
	   			<div class="form-group">
	   				<div class="col-sm-4">
	   					<div class="input-group">
	   						<input class="form-control" placeholder="Qual aluno você está procurando?"
	   							autofocus="autofocus" th:field="*{nome}"></input>
	   						<span class="input-group-btn">
	   							<button type="submit" class="btn btn-default">
	   								<i class="glyphicon glyphicon-search"></i>
	   							</button>
	   						</span>
	   					</div>
	   				</div>
	   			</div>
	   		</form>

	   		<table class="table table-bordered table-striped">
	   			<thead>
	   				<tr>
	   					<th class="text-center col-md-1">#</th>
	   					<th>Nome</th>
	   					<th class="text-center col-md-2">Data de nascimento</th>
	   					<th class="text-right col-md-2">Valor mensal</th>
	   					<th class="text-center col-md-2">Celular</th>
	   					<th class="col-md-1"></th>
	   				</tr>
	   			</thead>
	   			<tbody>
	   				<tr th:each="aluno : ${alunos}">
	   					<td class="text-center" th:text="${aluno.id}"></td>
	   					<td th:text="${aluno.nome}"></td>
	   					<td class="text-center" th:text="${{aluno.dataNascimento}}"></td>
	   					<td class="text-right" th:text="|R$ ${{aluno.valorMensal}}|"></td>
						<td class="text-center" th:text="${{aluno.celular}}|"></td>
	   					<td class="text-center">
	   						<a class="btn btn-link btn-xs" th:href="@{/alunos/{id}(id=${aluno.id})}"
	   								title="Editar" rel="tooltip" data-placement="top">
	   							<span class="glyphicon glyphicon-pencil"></span>
	   						</a>
	   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
	   								th:attr="data-id=${aluno.id}, data-nome=${aluno.nome}"
	   								title="Excluir" rel="tooltip" data-placement="top">
	   							<span class="glyphicon glyphicon-remove"></span>
	   						</a>
	   					</td>
	   				</tr>
	   				<tr>
	   					<td colspan="6" th:if="${#lists.isEmpty(alunos)}">Nenhum aluno foi encontrado</td>
	   				</tr>
	   			</tbody>
	   		</table>
	   	</div>

	   	<div layout:include="DialogoConfirmacaoExclusao"></div>

	</div>
</section>



</html>











